{{> partials/header }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">

            <form action="/"
                  method="post"
                  class="form-inline">

                <div class="form-group">
                    <label for="inputPassword2"
                           class="sr-only">How many rounds?</label>
                    <input type="number"
                           class="form-control"
                           step="1"
                           min="100"
                           max="1000"
                           name="roundCount"
                           value="100"
                           placeholder="How many rounds?">

                </div>

                <button type="submit"
                        class="btn btn-primary ml-2">
                    Play
                </button>
            </form>
        </div>
    </div>
</div>

{{> partials/footer }}
